In [4]:
import pandas as pd
import h5py
import scanpy as sc
from scipy import sparse

In [5]:
data = sc.read_h5ad('recount3/mouse_FULL_sparse_with_geneIDs.h5ad')

/home/kli3/.conda/envs/scbert/lib/python3.9/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

In [27]:
metadata = pd.read_csv("metadata/recount3_mouse_metadata.csv")
metadata = metadata[["external_id", "pattern.predict.type"]]
metadata

/home/kli3/.conda/envs/scbert/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

        external_id pattern.predict.type
0         DRR091074              rna-seq
1         DRR091075              rna-seq
2         DRR091076              rna-seq
3         DRR091077              rna-seq
4         DRR091078              rna-seq
...             ...                  ...
416836  SRR10292306              rna-seq
416837  SRR10292307              rna-seq
416838  SRR10292308              rna-seq
416839  SRR10292309              rna-seq
416840  SRR10292310              rna-seq

[416841 rows x 2 columns]

In [28]:
new_obs = data.obs.merge(metadata, how='left', left_on="Sample ID", right_on="external_id")[["Sample ID", "project", "pattern.predict.type"]]

KeyError: "['Sample ID', 'pattern.predict.type'] not in index"

In [31]:
new_obs = new_obs.reset_index().set_index("Sample ID", drop=False)

In [32]:
data.obs = new_obs

In [36]:
data

AnnData object with n_obs Ã— n_vars = 416803 Ã— 55422
    obs: 'Sample ID', 'project', 'pattern.predict.type'
    var: 'Ensemble ID'

In [34]:
data.var

                    Ensemble ID
NO GENEID  ENSMUSG00000079800.2
NO GENEID  ENSMUSG00000095092.1
NO GENEID  ENSMUSG00000079192.2
NO GENEID  ENSMUSG00000079794.2
NO GENEID  ENSMUSG00000094799.1
...                         ...
MID1-PS1   ENSMUSG00000095134.2
GM47283    ENSMUSG00000096768.8
GM21748    ENSMUSG00000096850.1
GM21742    ENSMUSG00000099871.1
NO GENEID               project

[55422 rows x 1 columns]

In [37]:
metadata = pd.read_csv("metadata/recount3_mouse_metadata.csv")

/home/kli3/.conda/envs/scbert/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [39]:
metadata = metadata[["external_id", "study"]]
metadata

        external_id      study
0         DRR091074  DRP003800
1         DRR091075  DRP003800
2         DRR091076  DRP003800
3         DRR091077  DRP003800
4         DRR091078  DRP003800
...             ...        ...
416836  SRR10292306  SRP225899
416837  SRR10292307  SRP225899
416838  SRR10292308  SRP225899
416839  SRR10292309  SRP225899
416840  SRR10292310  SRP225899

[416841 rows x 2 columns]

In [42]:
new_obs2 = data.obs.merge(metadata, how='left', left_index=True, right_on="external_id")
new_obs2 = new_obs2.set_index("external_id")
new_obs2

              Sample ID  project pattern.predict.type      study
external_id
SRR8249400   SRR8249400        0            scrna-seq  SRP170963
SRR8249500   SRR8249500        0            scrna-seq  SRP170963
SRR8249300   SRR8249300        0            scrna-seq  SRP170963
SRR8249200   SRR8249200        0            scrna-seq  SRP170963
SRR8249401   SRR8249401        0            scrna-seq  SRP170963
...                 ...      ...                  ...        ...
SRR5445513   SRR5445513    10087              rna-seq  SRP103859
SRR5445514   SRR5445514    10087              rna-seq  SRP103859
SRR5445515   SRR5445515    10087              rna-seq  SRP103859
SRR5445516   SRR5445516    10087              rna-seq  SRP103859
SRR5445517   SRR5445517    10087              rna-seq  SRP103859

[416803 rows x 4 columns]

In [43]:
data.obs = new_obs2
data

AnnData object with n_obs Ã— n_vars = 416803 Ã— 55422
    obs: 'Sample ID', 'project', 'pattern.predict.type', 'study'
    var: 'Ensemble ID'

In [44]:
data.write_h5ad("recount3/mouse_FULL_sparse_with_geneIDs_with_metadata.h5ad")