In [2]:
import pandas as pd
import h5py
import scanpy as sc
from scipy import sparse

In [3]:
data0 = pd.read_hdf('recount3/mouse_0_1000_transpose.h5').T
data1 = pd.read_hdf('recount3/mouse_1001_5000_transpose.h5').T
data2 = pd.read_hdf('recount3/mouse_5001_8001_transpose.h5').T
data3 = pd.read_hdf('recount3/mouse_8002_10087_transpose.h5').T
data = pd.concat([data0, data1, data2, data3])
data

,ENSMUSG00000079800.2,ENSMUSG00000095092.1,ENSMUSG00000079192.2,ENSMUSG00000079794.2,ENSMUSG00000094799.1,ENSMUSG00000095250.1,ENSMUSG00000095787.1,ENSMUSG00000096100.1,ENSMUSG00000094054.1,ENSMUSG00000095672.1,...,ENSMUSG00000096178.7,ENSMUSG00000100964.1,ENSMUSG00000099619.6,ENSMUSG00000099399.6,ENSMUSG00000095366.2,ENSMUSG00000095134.2,ENSMUSG00000096768.8,ENSMUSG00000096850.1,ENSMUSG00000099871.1,project
SRR8249400,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,316.0,130.0,13959.0,0.0,75.0,0.0
SRR8249500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,9486.0,0.0,0.0,0.0
SRR8249300,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,300.0,0.0,8672.0,0.0,0.0,0.0
SRR8249200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
SRR8249401,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SRR5445513,767.0,0.0,281.0,0.0,78.0,253.0,1026.0,591.0,0.0,152.0,...,0.0,0.0,0.0,0.0,0.0,0.0,14752.0,0.0,0.0,10087.0
SRR5445514,1628.0,106.0,1887.0,227.0,88.0,1275.0,1411.0,2477.0,197.0,1190.0,...,0.0,40.0,0.0,0.0,198.0,100.0,34878.0,178.0,0.0,10087.0
SRR5445515,1068.0,0.0,1241.0,80.0,0.0,693.0,1424.0,1072.0,0.0,586.0,...,0.0,0.0,0.0,0.0,471.0,88.0,7221.0,53.0,0.0,10087.0
SRR5445516,464.0,0.0,1221.0,0.0,0.0,559.0,810.0,545.0,0.0,285.0,...,0.0,0.0,0.0,0.0,198.0,0.0,6559.0,0.0,0.0,10087.0
SRR5445517,2372.0,0.0,2706.0,96.0,187.0,2163.0,1751.0,814.0,0.0,1584.0,...,0.0,0.0,0.0,0.0,635.0,295.0,18282.0,0.0,0.0,10087.0

In [4]:
adata = sc.AnnData(data, data.index.to_frame(), data.columns.to_frame())
adata.obs.columns = ['Sample ID']
adata.var.columns = ['Gene ID']

/tmp/ipykernel_204146/1181347916.py:1: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  adata = sc.AnnData(data, data.index.to_frame(), data.columns.to_frame())

MemoryError: Unable to allocate 86.1 GiB for an array with shape (416803, 55422) and data type float32

In [ ]:
adata.X = sparse.csr_matrix(adata.X)

In [ ]:
adata.write_h5ad("recount3/mouse_FULL_sparse.h5ad")

## Ensembl to Gene ID

In [3]:
import pybiomart
import numpy as np

In [4]:
dataset = pybiomart.Dataset(name='mmusculus_gene_ensembl', host='http://www.ensembl.org')
mappings = dataset.query(attributes=['ensembl_gene_id', 'external_gene_name'])

In [5]:
adata1 = sc.read_h5ad("recount3/mouse_FULL_sparse.h5ad")

In [6]:
adata1

AnnData object with n_obs × n_vars = 416803 × 55422
    obs: 'Sample ID'
    var: 'Gene ID'

In [7]:
adata1.var.columns = ['Ensemble ID']
adata1.var

                               Ensemble ID
ENSMUSG00000079800.2  ENSMUSG00000079800.2
ENSMUSG00000095092.1  ENSMUSG00000095092.1
ENSMUSG00000079192.2  ENSMUSG00000079192.2
ENSMUSG00000079794.2  ENSMUSG00000079794.2
ENSMUSG00000094799.1  ENSMUSG00000094799.1
...                                    ...
ENSMUSG00000095134.2  ENSMUSG00000095134.2
ENSMUSG00000096768.8  ENSMUSG00000096768.8
ENSMUSG00000096850.1  ENSMUSG00000096850.1
ENSMUSG00000099871.1  ENSMUSG00000099871.1
project                            project

[55422 rows x 1 columns]

In [8]:
def convert(e):
    x = mappings[mappings['Gene stable ID'] == e]
    if x.shape[0] != 0:
        return x['Gene name'].iloc[0]
    return np.NaN
gene_ids = adata1.var_names.str.slice(stop=18).map(convert)
gene_ids

Index([       nan,        nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,
       ...
        'Gm20837',  'Gm29503',  'Gm28300',  'Gm28301',  'Gm21860', 'Mid1-ps1',
        'Gm47283',  'Gm21748',  'Gm21742',        nan],
      dtype='object', length=55422)

In [9]:
np.count_nonzero(~pd.isnull(gene_ids))

52240

In [10]:
adata1.var_names = gene_ids

In [11]:
adata1.var

                   Ensemble ID
NaN       ENSMUSG00000079800.2
NaN       ENSMUSG00000095092.1
NaN       ENSMUSG00000079192.2
NaN       ENSMUSG00000079794.2
NaN       ENSMUSG00000094799.1
...                        ...
Mid1-ps1  ENSMUSG00000095134.2
Gm47283   ENSMUSG00000096768.8
Gm21748   ENSMUSG00000096850.1
Gm21742   ENSMUSG00000099871.1
NaN                    project

[55422 rows x 1 columns]

In [12]:
project_id = adata1.X[:, -1].todense()

In [93]:
projects = np.ravel(project_id) 
projects

array([    0.,     0.,     0., ..., 10087., 10087., 10087.], dtype=float32)

In [108]:
x=pd.DataFrame(adata1.obs["Sample ID"].copy())
x["project"] = projects.astype('int')
x

             Sample ID  project
SRR8249400  SRR8249400        0
SRR8249500  SRR8249500        0
SRR8249300  SRR8249300        0
SRR8249200  SRR8249200        0
SRR8249401  SRR8249401        0
...                ...      ...
SRR5445513  SRR5445513    10087
SRR5445514  SRR5445514    10087
SRR5445515  SRR5445515    10087
SRR5445516  SRR5445516    10087
SRR5445517  SRR5445517    10087

[416803 rows x 2 columns]

In [109]:
adata1.obs = x

In [120]:
np.NaN

nan

In [131]:
adata1.var.index = adata1.var_names.fillna("No GeneID")

In [143]:
adata1.var.index = adata1.var.index.str.upper()
adata1.var_names

Index(['NO GENEID', 'NO GENEID', 'NO GENEID', 'NO GENEID', 'NO GENEID',
       'NO GENEID', 'NO GENEID', 'NO GENEID', 'NO GENEID', 'NO GENEID',
       ...
       'GM20837', 'GM29503', 'GM28300', 'GM28301', 'GM21860', 'MID1-PS1',
       'GM47283', 'GM21748', 'GM21742', 'NO GENEID'],
      dtype='object', length=55422)

In [144]:
adata1.write_h5ad("recount3/mouse_FULL_sparse_with_geneIDs.h5ad")

In [145]:
test = sc.read_h5ad('recount3/mouse_FULL_sparse_with_geneIDs.h5ad')
test

/home/kli3/.conda/envs/scbert/lib/python3.9/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

AnnData object with n_obs × n_vars = 416803 × 55422
    obs: 'Sample ID', 'project'
    var: 'Ensemble ID'

In [146]:
test.var

                    Ensemble ID
NO GENEID  ENSMUSG00000079800.2
NO GENEID  ENSMUSG00000095092.1
NO GENEID  ENSMUSG00000079192.2
NO GENEID  ENSMUSG00000079794.2
NO GENEID  ENSMUSG00000094799.1
...                         ...
MID1-PS1   ENSMUSG00000095134.2
GM47283    ENSMUSG00000096768.8
GM21748    ENSMUSG00000096850.1
GM21742    ENSMUSG00000099871.1
NO GENEID               project

[55422 rows x 1 columns]